<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lll.layoutmanager.demo">

    <application
        android:name="com.lll.demo.LayoutManagerDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lll.demo.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.lll.demo.discrete.DiscreteActivity" />
        <activity android:name="com.lll.demo.carouselayoutmanager.CarouseLayoutManagerActivity" />
        <activity android:name="com.lll.demo.discrete.weather.WeatherActivity" />
        <activity android:name="com.lll.demo.discrete.shop.ShopActivity" />
        <activity android:name="com.lll.demo.discrete.gallery.GalleryActivity" />
        <activity android:name="com.lll.demo.cardlayoutmanager.CardLayoutManagerActivity" />


    </application>

</manifest>